.events__list-container{
    margin: 50px 0 75px;
}
.event__title-container{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    flex-direction: column;
}
.event__title-container::after{
    content: "";
    width: 30%;
    height: 1px;
    background-color: black;
    margin: 20px auto 0;
}
.event__title-container h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
.events__list{
    list-style: none;
    border: none;
    border-bottom: 1px solid #333;
    max-width: 800px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px auto;
}
.event__card:hover{

    background-color: rgba(213, 213, 213, 0.434);
}
.event__content{
    max-width: 800px;
    border: none;
}
.event__title{
    font-size: 1.8rem !important;

    background: -webkit-linear-gradient(rgba(42,73,226,1) ,rgba(251,77,236,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.event__btn{
    margin-left: 10px;
}

.event__card{
    border: none;
}