
.footer{
    height: 150px;
    background-color: black;
    display: flex;
    
    align-items: center;
    color: white;


}
.footer__left-side > img {
    width: 150px;
    
}

.footer__nav-links{
    display: flex;  
    margin-top: 10px;  
}
.footer__nav-link{
    /* font-size: .75em; */
    font-weight: 800;
}

.footer__right-side{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.footer__social-icons{
    display: flex;
    justify-content: flex-end;
}

.social-icon{
    font-size: 2.5em;
}
.footer__copyright > p{
    font-weight: 800;
    color: rgb(87, 87, 87);
    
}