/* *{
    border: 1px solid black;
} */
form{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(90deg, rgba(116,53,196,1) 0%, rgba(42,73,226,1) 36%, rgba(251,77,236,1) 100%) 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 40px;
}
.support__container{
    max-width: 700px;
    margin: 0 auto;
}

form > label > input{
    padding: 5px;
    font-size: 1.2rem;
    /* border-radius: 10px; */
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    width: 500px;
}
.support__container > h1{
    text-align: center;
    margin: 50px auto;
    font-size: 3rem;
}
textarea{
    margin: 10px auto 3px;
    width: 500px;
    border: none;
    border-bottom: 2px solid rgb(129, 129, 129);
    padding: 5px;
    font-size: 1.2rem;

}
form > label{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 30px;
}

label > span{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.support__btn{
    padding: 8px;
    width: 70%;
    border-radius: 3px;
    background: rgb(116,53,196);
    background: linear-gradient(90deg, rgba(116,53,196,1) 0%, rgba(42,73,226,1) 36%, rgba(251,77,236,1) 100%);
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.form-success{
    min-height: 400px;
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
}

.form-success h1{
    font-size: 3em;
    text-align: center;
}

