a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
}
.logo{
    width: 500px;
    margin: 50px;
}
.container{
    background-image: url(../images/desktop/image-hero.jpg);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.flex{
    display: flex;
    justify-content: space-around;
}
.navLinks{
    display: flex;
    margin: 50px;
}
.title{
    color: white;
    border: 2px solid white;
    padding: 10px;
    font-size: 5em;
    font-weight: 300;
    width: 8em;
    margin: .75em 1.9em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}